body {
    padding: 10px;
}

input {
    display: block;
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 20px;
}

textarea {
    display: block;
    margin-bottom: 10px;
}

.listing_link {
    display: block;
    color: black;
    text-decoration: none;
    padding: 30px;
    border:1px solid #ededed;
    margin-bottom: 20px;
}

.listing_link:hover{
    color: black;
    text-decoration: none;
    background-color: #edf2f2;
}

 .listing{
    display: flex;
}
 .listing img {
    width: 200px;
    height: 200px;
}
 .listing p {
    font-size: 20px;
}

 .listing .img {
    width: 30%;
}

.listing .date {
    font-size: 15px;
    color: grey
}

.listing .description {
    width: 300px;
    font-size: 15px;
    margin-bottom: 20px;
}

.error {
    color:red;
    display: block;
    margin-bottom: 10px;
}
.succes {
    color:green;
    display: block;
    margin-bottom: 10px;
}
.close_listing {
    margin-top: 20px;
}

.price {
    font-size: 30px;
}

form.bid {
    margin-bottom: 50px;
}

input.bid {
    width: 100%;
    border-radius: 5px;
    border: 2px solid #e6e6e6;
    height: 35px;
    padding-left: 10px;
    outline: none;
    font-size: 20px;
}

input.bid:hover {
    outline: none;
}

section.comments {
    min-height: 400px;
    margin-top: 50px;
}
   
input.watchlist {
    margin-bottom: 50px;
}

.amount {
    margin-bottom: 5px;
    color: grey;
    font-size: 15px;
}

.result {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 900;
    margin-top: 30px;
    color: orange;
    background-image: url('https://st2.depositphotos.com/3894705/7819/i/450/depositphotos_78190918-stock-photo-background-with-diagonal-black-and.jpg');
}

.result.winner {
    color: green
}

hr{
    margin-top: 50px;
}

div.comment {
    max-width: 800px;
    border-radius: 20px;
    border: 2px solid #ededed;
    overflow: hidden;
    margin: 30px 0;
}

div.head {
    padding: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: #007bff;
    color: white;
    font-size: 20px;
}

div.content {
    padding: 20px;
}

form.delete {
    display: flex;
    justify-content: flex-end;
}

form.delete input {
    border: none;
    background: none;
    outline: none;
    color: grey;
    box-sizing: border-box;
    min-height: 24px;
    max-height: 24px;
}

form.delete input:active {
    outline: none;
}
form.delete input:hover {
    border-bottom: 1px solid #ededed;
}

span.closed {
    display: flex;
    margin-top: 20px;
    color: red;
    font-size: 30px;
    font-weight: 900;
    width: 100%;
    justify-content: center;
    background-image: url('https://st2.depositphotos.com/3894705/7819/i/450/depositphotos_78190918-stock-photo-background-with-diagonal-black-and.jpg');
}