{% extends "auctions/layout.html" %}
{% block title %}
    {{listing.title}}
{% endblock %}

{% block body %}
<h1>{{listing.title}}</h1>

{% if user.is_authenticated %}
{% if message %}
<span class={{message.type}}>{{message.message}}</span>
{% endif %}
<form action="{% url 'add' listing.id%}" method="POST">
    {% csrf_token %}
    <input type="submit" value="watchlist"  class="btn btn-sm btn-secondary watchlist">
</form>
{%endif%}


<div class="listing">
    <div class="img">
        <img src={{listing.image}} alt="No image for this listing">
    </div>
    <div>
        <span class="price"><strong>Price</strong>: ${{listing.bid}}</span>
        <p class="date">Created {{listing.date}},</p>
        <div class="description">
            {{listing.description}}
        </div>

        <p class="owner">Listed By: {{listing.owner}}</p>
        <p>Category: No Category Listed</p>
  
        {% if is_owner %}
        <form action="" method="POST" class="close_listing">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="Close listing">
        </form>
        {% endif %}
    </div>
</div>

<form class="bid">
    {% csrf_token %}
    <p class="amout"> ... TODO</p>
    <p> <input type="text" placeholder="Bid" class="bid"> </p> 
    <input type="submit" class="btn btn-primary" value="Place Bid">
</form>

<h2>Comments:</h2>
<section class="comments">
    
</section>
{% endblock%}