{% extends "auctions/layout.html" %}
{% block body %}
    <h2>Active Listings</h2>
    {% for listing in listings%}
        <a href="{% url 'detail' listing.id%}" class="listing_link">
            <div class="listing">
                <div class="img">
                    <img src={{listing.image}} alt="No image">
                </div>
                <div>
                    <p><strong></strong>{{listing}}</p>
                    <strong>Price</strong>: ${{listing.bid}}
                    <p class="date">Created {{listing.date}},</p>
                    <div class="description">
                        {{listing.description}}
                    </div>
                </div>
            </div>
        </a>
    {% empty %}
        <h2>No listings :(</h2>
    {%endfor%}
    
{% endblock %}